<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NFA.NgalaKiambote">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:appCategory="social"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity_Splash_Screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Login"
            android:label="@string/activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Register_User"
            android:label="@string/activity_register_user"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_User_Profile"
            android:label="@string/activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_About_Us"
            android:label="@string/activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Terms_and_Conditions"
            android:label="@string/activity_terms_and_conditions"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Medicinal_Plants"
            android:label="@string/activity_plants_medical"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Diagnose_Heartbeat"
            android:label="@string/activity_diagnose_heartbeat"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Diagnose_Body_Temperature"
            android:label="@string/activity_diagnose_temperature"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activity_Search_Plants_By_Image"
            android:label="@string/activity_search_plants_by_image"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".receive_data.Receive_Data_Medicinal_Plants"
            android:label="@string/activity_receive_data_plants_medical"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".receive_data.Receive_Data_User_Telemedicine"
            android:label="@string/activity_receive_data_user_telemedicine"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>